PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=theatre_db
DB_USER=theatre_user
DB_PASSWORD=theatre_pass

JWT_SECRET=your_super_secret_access_key
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3000
